# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
*.env
.env.*
env_local.txt
env_production.txt
.venv/
venv/

# Django
staticfiles/
media/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/ 