Django==5.2.4
Pillow==11.3.0
openpyxl==3.1.5
reportlab==4.4.3
django-crispy-forms==2.4
crispy-bootstrap5==2025.6
psycopg2==2.9.9
python-decouple==3.8
dj-database-url==2.1.0
pandas==2.3.1
xlrd==2.0.1
xlsxwriter==3.2.0 